<div class="lamp-container" fxLayout="column">
    <div>
        <p class="heading">General Lamp</p>
        <div class="ac-icon">
            <mat-tab-group class="ac-tab" [selectedIndex]="1">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img src="assets/images/bulb-icon3.jpg" (click)="gridsize.value=10">
                    </ng-template>
                    Brightest mode
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img src="assets/images/bulb-icon2.png" (click)="gridsize.value=50">
                    </ng-template>
                    Dim mode
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <img src="assets/images/bulb-icon1.png" (click)="gridsize.value=80">
                    </ng-template>
                    Dark mode
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="outerLayer">
            <div class="back-blue">
                <div class="front" id="{{'brightness-' + gridsize.value}}">
                    <img src="assets/images/center-bulb.jpg">
                    <p>Current Brightness: <b>{{gridsize.value}}</b>%</p>
                </div>
            </div>
        </div>
        <!--    <mat-slider thumbLabel value="24" [(ngModel)]="sliderVal" (change)="onChange($event)" ></mat-slider>-->
        <!--    tickInterval="1"-->
        <div class="slider">
            <mat-icon>maximize</mat-icon>
            <mat-slider thumbLabel value="35" #gridsize (change)="onChange($event)"></mat-slider>
            <mat-icon class="add">add</mat-icon>
        </div>
        <table class="mode">
            <tr>
                <td>
                    <div class="mode-icon">
                        <mat-icon>power_settings_new</mat-icon>
                    </div>
                </td>
                <td>
                    <div class="mode-icon">
                        <mat-icon>brightness_3</mat-icon>
                    </div>
                </td>
                <td>
                    <div class="mode-icon">
                        <mat-icon>access_time</mat-icon>
                    </div>
                </td>
                <td>
                    <div class="mode-icon">
                        <mat-icon>settings_applications</mat-icon>
                    </div>
                </td>
            </tr>
            <tr>
                <td>On/Off</td>
                <td>Sleep</td>
                <td>Timing</td>
                <td>Set Up</td>
            </tr>
        </table>
    </div>
    <a routerLink="../living-room">Go Back</a>
</div>
