@mixin dimension {
  width: 100%;
  height: auto;
}

$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

.lamp-container {
  max-width: 500px;
  height: 100vh;
  margin: auto;
  text-align: center;

  .heading {
    font-size: 27px;
  }

  .ac-icon {
    display: flex;
    justify-content: center;

    .ac-tab {
      @extend .ac-icon;
      font-size: $fontsize;

      img {
        width: 35px;
        height: 40px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .outerLayer {
    @include dimension;
    margin: auto;

    .back-blue {
      margin: 2% auto;
      width: 300px;
      height: 300px;
      padding: 20px;

      .front {
        margin: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        padding: 30px;

        img {
          width: 120px;
          height: 120px;
        }

        p {
          font-size: $fontsize;
        }
      }

      [id ^= "brightness-"] {
        box-shadow: 0 0 30px 10px #fcf003;
      }
      [id *= "-1"]:not([id $= "-1"]){
        box-shadow: 0 0 40px 20px #fcf003;
      }
      [id *= "-2"]:not([id $= "-2"]),
      [id *= "-3"]:not([id $= "-3"]) {
        box-shadow: 0 0 50px 25px #fcf003;
      }

      [id *= "-4"]:not([id $= "-4"]),
      [id *= "-5"]:not([id $= "-5"]) {
        box-shadow: 0 0 60px 30px #fcf003;
      }

      [id *= "-6"]:not([id $= "-6"]),
      [id *= "-7"]:not([id $= "-7"]) {
        box-shadow: 0 5px 75px 40px #fcf003;
      }

      [id *= "-8"]:not([id $= "-8"]),
      [id *= "-9"]:not([id $= "-9"]),
      [id *= "-10"]:not([id $= "-10"]) {
        box-shadow: 0 10px 90px 50px #fcf003;
      }

    }
  }

  ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #ffcc00;
    bottom: -11px;
  }
  ::ng-deep .mat-accent .mat-slider-track-background{
    background: linear-gradient(to right, #ffff99 0%, #ffcc00 100%);
    height: 100%;
  }
  ::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #ffcc00;
    height: 100%;
  }
  ::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #ffcc00;
  }

  ::ng-deep .mat-accent .mat-slider-track-wrapper {
      height: 7px;
      border-radius: 10px;
    }

  ::ng-deep {

    .mat-slider-thumb-label {
      transform: rotate(45deg) !important;
      border-radius: 50% 50% 0 !important;
    }

    .mat-slider-thumb {
      transform: scale(0) !important;
    }

    .mat-slider-thumb-label-text {
      opacity: 1 !important;
      color: #000000;
    }

  }

  .slider {
    @include dimension;
    display: inline;

    mat-slider {
      width: 80%;
    }

    .add {
      padding-top: 3%;
      font-size: 33px;
    }
  }

  .mode {
    @include dimension;
    width: 90%;
    margin: auto;

    .mode-icon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 1px 1px 4px #888888;
      margin-left: 25%;

      mat-icon {
        font-size: 40px;
        margin: 4%;
        padding-right: 32%;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 20px #888888;
        transform: scale(1.1);
      }
    }

    td {
      font-size: 18px;
    }
  }

  a {
    align-self: flex-end;
    outline: none;
    font-size: 18px;
    margin-top: 4%;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 485px) {
  .lamp-container {
    .heading {
      font-size: 23px;
    }

    .mode {
      .mode-icon {
        width: 35px;
        height: 35px;

        mat-icon {
          font-size: 30px;
          margin: 8%;
        }
      }
    }
  }
}
