@mixin dimension {
  width: 100%;
  height: auto;
}

$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

.lamp-container {
  max-width: 500px;
  height: 100vh;
  margin: auto;
  text-align: center;

  .heading {
    font-size: 27px;
  }

  .ac-icon {
    display: flex;
    justify-content: center;

    .ac-tab {
      @extend .ac-icon;
      font-size: $fontsize;

      img {
        width: 35px;
        height: 40px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .outerLayer {
    @include dimension;
    margin: auto;

    .back-blue {
      margin: 2% auto;
      width: 300px;
      height: 300px;
      padding: 20px;

      .front {
        margin: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 0 60px 20px #fcf003;
        text-align: center;
        padding: 30px;

        img {
          width: 120px;
          height: 120px;
        }
        p{
          font-size: $fontsize;
        }
      }
    }
  }

  .slider {
    @include dimension;
    display: inline;

    mat-slider {
      width: 80%;
    }

    .add {
      padding-top: 3%;
      font-size: 33px;
    }
  }

  .mode {
    @include dimension;
    width: 90%;
    margin: auto;

    .mode-icon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 1px 1px 4px #888888;
      margin-left: 25%;

      mat-icon {
        font-size: 40px;
        margin: 4%;
        padding-right: 32%;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 20px #888888;
        transform: scale(1.1);
      }
    }

    td {
      font-size: 18px;
    }
  }

  a {
    align-self: flex-end;
    outline: none;
    font-size: 18px;
    margin-top: 4%;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 485px) {
  .lamp-container {
    .heading {
      font-size: 23px;
    }

    .mode {
      .mode-icon {
        width: 35px;
        height: 35px;

        mat-icon {
          font-size: 30px;
          margin: 8%;
        }
      }
    }
  }
}
