@mixin heightWidth{
  width: 100%;
  height: auto;
}
$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

.ac-container {
  max-width: 500px;
  height: 100vh;
  margin: auto;
  text-align: center;

  .header1{
    font-size: 27px;
  }

  .ac-icon {
    display: flex;
    justify-content: center;

    .ac-tab {
      @extend .ac-icon;
      font-size: $fontsize;

      mat-icon {
        font-size: 45px;
        margin-bottom: 70%;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .outerLayer {
    @include heightWidth;
    margin: auto;

    .back-blue {
      margin: 2% auto;
      width: 300px;
      height: 300px;
      background: linear-gradient(to right, #ccffff 0%, #33aef2 100%);
      border-radius: 50%;
      padding: 20px;

      .front {
        margin: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        padding: 30px;
        .temperature{
          padding-top: 10%;
        }
      }
    }
  }

  .slider {
    @include heightWidth;
    display: inline;

    mat-slider {
      width: 80%;
    }

    .add {
      padding-top: 3%;
      font-size: 33px;
    }
  }

  .mode {
    @include heightWidth;
    margin: auto;

    .mode-icon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 1px 1px 4px #888888;
      margin-left: 24%;

      mat-icon {
        font-size: 40px;
        margin: 4%;
        padding-right: 32%;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 20px #888888;
        transform: scale(1.1);
      }
    }

    td {
      font-size: 18px;
    }
  }

  a {
    align-self: flex-end;
    outline: none;
    font-size: 18px;
    &:hover {
      transform: scale(1.2);
    }
  }

}

@media screen and (max-width: 485px) {
  .ac-container {
    .header1{
      font-size: 23px;
    }
    .ac-icon {

      .ac-tab {
        font-size: 18px;

        mat-icon {
          font-size: 30px;
        }
      }
    }
    .mode {
      .mode-icon {
        width: 35px;
        height: 35px;

        mat-icon {
          font-size: 30px;
          margin: 8%;
        }
      }
    }
  }
}
