<div class="scenario">
  <div class="heading">
    <span>Scenario</span>
    <p>Creat your scenarios and add your favourite devices for faster access</p>
  </div>

  <div class="fav"
       fxLayout="row"
       fxLayout.lt-sm="row"
       fxLayoutGap="7%"
       fxLayoutAlign="center">
    <div class="fav-1"  fxFlex="0 1 calc(42% - 32px)" fxFlex.lt-sm="100%">
      <mat-card>
        <img mat-card-image class="img" src="assets/images/wake.jpeg">
      </mat-card>
      <div class="text">Wake up</div>
    </div>
    <div class="fav-1" fxFlex="0 1 calc(42% - 32px)" fxFlex.lt-sm="100%">
      <mat-card>
        <img mat-card-image class="img" src="assets/images/sleep.jpg">
      </mat-card>
      <div class="text">Sleep</div>
    </div>
  </div><br>

  <div class="sce"
       fxLayout="row"
       fxLayout.lt-sm="row"
       fxLayoutGap="7%"
       fxLayoutAlign="center">

    <div class="fav-1" fxFlex="0 1 calc(42% - 32px)" fxFlex.lt-sm="100%">
      <mat-card>
        <img mat-card-image class="img" src="assets/images/goHome.jpg">
      </mat-card>
      <div class="text">Go Home</div>
    </div>

    <div class="fav-1" fxFlex="0 1 calc(42% - 32px)" fxFlex.lt-sm="100%">
      <mat-card>
        <img mat-card-image class="img" src="assets/images/leave.jpg">
      </mat-card>
      <div class="text">Leave Home</div>
    </div>
  </div>

  <div class="click-add" (click)="openBottomSheet()" fxLayout="column">
    <div class="iconAdd">
    <mat-icon>add</mat-icon>
    </div>
    <div class="Add-text">
    Click to add new scenarios
    </div>
  </div>
</div>
