.Add-scenario {
  width: 100%;
  margin: 5% 4%;

  .matForm {
    font-size: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }

  .grid-item {
    padding: 10px;
    font-size: 20px;

    input {
      border: none;
      outline: none;
    }
  }

  .AddtoHome {
    display: grid;
    grid-template-columns: auto auto;
    margin: 4%;
    padding-right: 5%;

    mat-slide-toggle {
      float: right;
    }
  }

  button {
    margin: 5%;
    background-color: #F5396C;
    color: white;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 640px) {
    margin: 1%;
    .matForm {
      font-size: 18px;
    }

    .grid-container {
      padding: 5px;
    }

    .grid-item {
      padding: 5px;
      font-size: 18px;
    }
  }
}
