$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

.Add-scenario {
  width: 100%;
  margin: 5% 4%;

  .matForm {
    font-size: $fontsize;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }

  .grid-item {
    padding: 10px;
    font-size: $fontsize;

    input {
      border: none;
      outline: none;
    }
  }

  .AddtoHome {
    display: grid;
    grid-template-columns: auto auto;
    margin: 4%;
  }

  button {
    margin: 5%;
    background-color: $pink;
    color: white;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 640px) {
    margin: 1%;
    .matForm {
      font-size: 18px;
    }

    .grid-container {
      padding: 5px;
    }

    .grid-item {
      padding: 5px;
      font-size: 18px;
    }
  }
}
