$skyblue: #33AEF2;
$pink: #F5396C;
$fontsize: 20px;

.main-container {
  max-width: 1200px;
  height: auto;
  margin: auto;
  box-shadow: 1px 1px 5px #888888;
}

.header-bar {
  display: block;
  background-color: $skyblue;
  box-shadow: 1px 1px 20px #888888;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  outline: none;

  .header-container {
    max-width: 100%;
    height: auto;
    background-color: $skyblue;
    outline: none;

    .header {
      display: flex;
      flex-direction: row;
      padding-top: 1%;
      padding-left: 7%;
      height: 70px;
      background-color: $skyblue;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;

      mat-icon {
        font-size: 55px;
        outline: none;
        color: white;
      }

      p {
        align-self: flex-end;
        margin-left: 16%;
        font-size: 25px;
        outline: none;
        color: white;
      }

    }

    .header:hover {
      transform: scale(1.0);
      text-shadow: 2px 2px 4px #000000;
    }

  }
}

mat-card {
  cursor: pointer;
}

mat-card.active {
  text-shadow: 2px 2px 8px #000000;
  border: none
}

.footer-bar {
  box-shadow: 1px 1px 20px #888888;
  display: none;

  .footer-container {
    width: 100%;
    height: auto;
    background-color: $skyblue;
    outline: none;
    padding-bottom: 10px;

    .footer {
      height: 50px;
      background-color: $skyblue;
      padding-left: 15%;
      cursor: pointer;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;

      mat-icon {
        font-size: 40px;
        outline: none;
        color: white;
      }
    }

    .footer:hover {
      text-shadow: 2px 2px 8px #000000;
    }
  }
}

@media screen and (max-width: 740px) {
  .header-bar {
    display: none;
  }
  .footer-bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
}



