$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

@mixin style {
  width: 100%;
  height: auto;
  background-color: $skyblue;
  outline: none;
}

.main-container {
  max-width: 1200px;
  height: auto;
  margin: auto;
  box-shadow: 1px 1px 5px #888888;
}

.header-bar {
  @include style;
  display: block;
  box-shadow: 1px 1px 5px #888888;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  .header-container {
    @include style;

    .header {
      @include style;
      display: flex;
      flex-direction: row;
      padding-top: 1%;
      padding-left: 7%;
      height: 70px;
      -webkit-box-shadow: none;

      mat-icon {
        font-size: 55px;
        outline: none;
        color: white;
      }

      p {
        align-self: flex-end;
        margin-left: 16%;
        font-size: 25px;
        outline: none;
        color: white;
      }

      &:hover {
        transform: scale(1.02);
        text-shadow: 2px 2px 4px #000000;
      }

    }

  }
}

mat-card {
  cursor: pointer;
}

mat-card.active {
  text-shadow: 2px 2px 8px #000000;
  border: none;
  transform: scale(1.02);
}

.footer-bar {
  box-shadow: 1px 1px 20px #888888;
  display: none;

  .footer-container {
    @include style;
    padding-bottom: 10px;

    .footer {
      @include style;
      height: 50px;
      text-align: center;
      //padding-right: 1%;
      cursor: pointer;
      -webkit-box-shadow: none;

      mat-icon {
        font-size: 40px;
        outline: none;
        color: white;
      }

      &:hover {
        text-shadow: 2px 2px 8px #000000;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .header-bar {
    display: none;
  }
  .footer-bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
}



