<div class="living-room">

    <div class="room">
        <img mat-card-image class="living-img" src="assets/images/hang.jpg"/>

        <div class="leftSideText">
            <span class="largeSize">Living Room</span>
            <p>Your living room has been connected with 5 devices</p>
            <div class="temp">
                <table>
                    <tr>
                        <td>
                            <mat-icon>wb_cloudy</mat-icon>
                        </td>
                        <td class="hum">67% Humidity and 27 &#8451;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="equipments-up"
         fxLayout="row wrap"
         fxLayout.xs="row"
         fxLayoutGap="3%"
         fxLayoutAlign="center">
        <div class="room-contain" fxFlex="0 1 calc(30% - 32px)" fxFlex.xs="90%">
            <mat-slide-toggle (change)="setAC($event)">{{ac}}</mat-slide-toggle>
            <img routerLink="../air-cond" class="equ-img" src="assets/images/ac.png">
            <span>Air Condition</span>

            <table>
                <tr>
                    <td>
                        <mat-icon>turned_in</mat-icon>
                    </td>
                    <td>Add to scenario</td>
                </tr>
                <tr>
                    <td>
                        <mat-icon>delete</mat-icon>
                    </td>
                    <td>Remove</td>
                </tr>
            </table>
        </div>

        <div class="room-contain" fxFlex="0 1 calc(30% - 32px)" fxFlex.xs="90%">
            <mat-slide-toggle checked (change)="setLight($event)">{{light}}</mat-slide-toggle>
            <img routerLink="../lamp" class="equ-img" src="assets/images/bulb.png">
            <span>General Lamp</span>
            <table>
                <tr>
                    <td>
                        <mat-icon>turned_in</mat-icon>
                    </td>
                    <td>Add to scenario</td>
                </tr>
                <tr>
                    <td>
                        <mat-icon>delete</mat-icon>
                    </td>
                    <td>Remove</td>
                </tr>
            </table>
        </div>

        <div class="room-contain" fxFlex="0 1 calc(30% - 32px)" fxFlex.xs="90%">
            <mat-slide-toggle (change)="setLamp($event)">{{lamp}}</mat-slide-toggle>
            <img class="equ-img" src="assets/images/lamp1.png">
            <span>Nightstand Lamp</span>
            <table>
                <tr>
                    <td>
                        <mat-icon>turned_in</mat-icon>
                    </td>
                    <td>Add to scenario</td>
                </tr>
                <tr>
                    <td>
                        <mat-icon>delete</mat-icon>
                    </td>
                    <td>Remove</td>
                </tr>
            </table>
        </div>
    </div>
    <br>

    <div class="equipments-down"
         fxLayout="row wrap"
         fxLayout.xs="row"
         fxLayoutGap="3%"
         fxLayoutAlign="center">
        <div class="room-contain" fxFlex="0 1 calc(30% - 32px)" fxFlex.xs="90%">
            <mat-slide-toggle checked (change)="setWindow($event)">{{window}}</mat-slide-toggle>
            <img class="equ-img" src="assets/images/curtain.png">
            <span>Window Blinds</span>
            <table>
                <tr>
                    <td>
                        <mat-icon>turned_in</mat-icon>
                    </td>
                    <td>Add to scenario</td>
                </tr>
                <tr>
                    <td>
                        <mat-icon>delete</mat-icon>
                    </td>
                    <td>Remove</td>
                </tr>
            </table>
        </div>
        <div class="room-contain" fxFlex="0 1 calc(30% - 32px)" fxFlex.xs="90%">
            <mat-slide-toggle (change)="setLamp1($event)">{{lamp1}}</mat-slide-toggle>
            <img class="equ-img" src="assets/images/chandelier.png">
            <span>Central Chandelier</span>
            <table>
                <tr>
                    <td>
                        <mat-icon>turned_in</mat-icon>
                    </td>
                    <td>Add to scenario</td>
                </tr>
                <tr>
                    <td>
                        <mat-icon>delete</mat-icon>
                    </td>
                    <td>Remove</td>
                </tr>
            </table>
        </div>
        <div class="room-contain" fxFlex="0 1 calc(30% - 32px)" fxFlex.xs="90%">
            <div>
                <mat-icon class="add-icon">add</mat-icon>
            </div>
            <div style="text-align: center">Click to add more Equipments</div>
        </div>
    </div>

</div>
