$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

@mixin widthHeight {
  width: 100%;
  height: auto;
}

.living-room {
  padding-bottom: 5%;

  .room {
    @include widthHeight;
    position: relative;
    background-color: #888888;

    .living-img {
      width: 40%;
      float: right;
      margin-right: 5%;
      max-height: 250px;
      z-index: 0;
    }
  }

  .leftSideText {
    @include widthHeight;
    margin-top: 4%;
    position: absolute;
    left: 4%;

    .largeSize {
      font-size: 30px;
    }

    p {
      font-size: $fontsize;
    }

    .temp {
      width: 50%;
      height: auto;
      background-color: $skyblue;
      border-radius: 10px;

      table {
        @include widthHeight;

        mat-icon {
          color: white;
          font-size: 40px;
        }

        .hum {
          font-size: $fontsize;
          color: white;
          padding-right: 10%;
        }
      }
    }
  }

  .equipments-down, .equipments-up {
    @include widthHeight;
  }

  .room-contain {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #888888;
    padding: 2% 0;

    .equ-img {
      width: 50%;
      margin: 5px auto;
      cursor: pointer;
      outline: none;

      &:hover {
        transform: scale(1.1);
      }
    }
    .add-icon {
      font-size: 5vw;
      margin: 34%;
      cursor: pointer;
    }

    span {
      font-size: 20px;
      text-align: center;
    }

    mat-slide-toggle {
      align-self: center;
      font-size: 20px;
      color: $skyblue;
    }
    table{
      @include widthHeight;
      margin: 5%;
    }

    mat-icon {
      padding-left: 10px;
      font-size: 30px;
      color: $pink;

      &:hover {
        transform: scale(1.04)
      }
    }
  }


  @media screen and (max-width: 740px) {
    height: 100vh;
    .leftSideText {
      margin-top: 2%;
      margin-left: 4%;
      width: 95%;
      position: absolute;
      left: 1%;

      .largeSize {
        font-size: $fontsize;
      }

      p {
        font-size: 16px;
      }

      .temp {
        width: 65%;
        padding-left: 1%;

        table {
          width: 100%;

          mat-icon {
            font-size: 24px;
          }

          .hum {
            font-size: 16px;
            color: white;
          }

        }
      }
    }


    .room-contain {
      padding: 0;
      span {
        font-size: 18px;
      }

      mat-slide-toggle {
        font-size: 18px;
      }
      table{
        @include widthHeight;
        margin: 3%;
      }


      mat-icon {
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 380px) {
    height: 100vh;
    .leftSideText {
      margin-top: 1%;
      margin-left: 2%;
      font-size: 18px;

      p {
        margin: -1%;
        padding-left: 1%;
      }

      mat-icon {
        font-size: 20px;
      }
    }


    .room-contain {
      span {
        font-size: 18px;
      }

      mat-slide-toggle {
        font-size: 16px;
      }
      table{
        margin: 0;
      }

    }
  }

}

