$skyblue: #33AEF2;
$pink: #ff6666;
$fontsize: 20px;

@mixin ColFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile {
  @include ColFlex;
  height: 100vh;

  .basic-info {
    width: 94%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #888888;
    //background-image: linear-gradient(to bottom, #ff6666 0%, #fe5196 100%);
    background-image: linear-gradient(to bottom, #ff6666 0%, #ff8080 100%);
    .profile-img {
      margin: 2% auto;
      padding-left: 10%;

      mat-icon {
        font-size: 200px;
        color: white;
      }
    }

    .name {
      padding-top: 4%;
    }
  }

  .information {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  #edit-profile {
    margin-top: -20px;

    mat-expansion-panel {
      margin: auto;
      width: 100%;
      height: auto;
    }
  }

  #setting {
    padding-top: 5%;
  }

  mat-panel-description {
    font-size: 20px;
  }

  .submit-button {
    margin: 0 3%;
    width: auto;
    background-color: $pink;
    color: white;
  }

  button {
    width: 80%;
    height: 50px;
    font-size: $fontsize;
    background-color: $skyblue;
    margin: 4% auto;
    color: white;

    &:hover {
      transform: scale(1.03);
      box-shadow: 1px 1px 5px #888888;
    }
  }

  .profile-form {
    @include ColFlex;
    min-width: 150px;
    font-size: 18px;
  }

  .profile-full-width {
    width: 100%;
    font-size: 18px;
  }

  .agreement {
    font-size: 18px;
  }
}

.rating-list {
  li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
    font-size: 20px;
  }
}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: $pink;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

@media screen and (max-width: 720px) {
  .profile {
    .basic-info {
      .profile-img {
        padding-left: 3%;

        mat-icon {
          font-size: 150px;
        }
      }
    }
  }
}
